.ImgFondo{
  position: absolute;
  width: 150%;
  height: 180%;
}
.ImgChica{
  position: absolute;
  width: 110%;
  height: 150%;
  z-index: 3;
  top: 23%;
  left: 35%;
}


.ImgFrente{
  position: absolute;
  background-color: white;
  width: 150%;
  height: 180%;
  z-index:1;
  left:300%;
}

.contentText{
  z-index: 2;
transform: translateX(130%);
}


.slideFondo{
  animation-name: slideFondo;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
  z-index:3;
  transform: translateX(-30%);

}

.slideFrente{
  animation-name: slideIzquierda;
  animation-timing-function: ease-out;
  animation-duration: 3s;
  z-index:1;
  transform: translateX(-163.2%);

}

@keyframes slideIzquierda {
  0%{
    transform: translateX(200%);
  }
  50%{
    transform: translateX(-163.2%);

  }


}

@keyframes slideFondo {
  0%{
    transform: translateX(0);

  }
  60%{
    transform: translateX(0);

  }
  100%{
    transform: translateX(-30%);

  }
}

#iconos{
  top:150%;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  color:#776C10;

}


.nosotros-texto{

    font-family: 'Playfair Display', serif;
    color:#1D1D1D;
    text-align: center;
    padding: 4vh;
    font-size: 4vh;
    justify-content: center;
    width: 90%;
    margin-bottom: auto;
    margin-top: auto;

}

.nosotros-textoSlide{
  transform: translateX(0%);
  animation-name: slideIzquierdaTexto;
  animation-timing-function: ease-in-out;
  animation-duration: 20s;
}

@keyframes slideIzquierdaTexto {
  0%{
    opacity: 0;
    transform: translateX(130%);
  }
  5%{
    opacity: 0;

  }
  8%{
    opacity: 1;
    transform: translateX(0%);

  }


}

#iconos Header{
font-size:

}


@media (max-width: 580px)  {
  .ImgFondo{
    display:none;

  }
  .ImgChica{
    display:none;
  }

  .ImgFrente{
    display:none;

  }
  .circulo{
    width: 100%;
    padding-top: 10vh;
  }
  #iconos{
    top:90%;
    width: 100%;
    text-align: center;
  }
  .nosotros-texto{

      padding: 3vh;
      padding-top: 8vh;
      padding-bottom: 8vh;
      font-size: 3vh;
      width: 100%;
  }
}

@media (max-width: 939px)and (min-width: 581px)  {
  .ImgFondo{
    display:none;

  }
  .ImgChica{
    display:none;
  }

  .ImgFrente{
    display:none;

  }
  .circulo{
    width: 100%;
    padding-top: 12vh;
  }
  #iconos{
    top:90%;
    width: 100%;
    text-align: center;
  }
  .nosotros-texto{

      padding: 3vh;
      padding-top: 8vh;
      padding-bottom: 8vh;
      font-size: 4vh;
      width: 100%;
  }
}
@media (max-width: 1050px)and (min-width: 940px)  {
  .ImgFondo{
    padding-top: 6vh;
    position: absolute;
    width: 120%;
    height: 40%;
  }
  .ImgChica{
    position: absolute;
    width: 70%;
    height: 40%;
    z-index: 3;
    top: 100%;
    left: 40%;
  }


  .ImgFrente{
    position: absolute;
    background-color: white;
    width: 120%;
    height: 40%;
    z-index:1;

  }
  #iconos{
    top:90%;
    width: 100%;
    text-align: center;
  }
  .nosotros-texto{

      padding: 3vh;
      padding-top: 8vh;
      padding-bottom: 8vh;
      font-size: 4vh;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }
  .slideFrente{
    animation-name: slideIzquierda;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    z-index:1;
    transform: translateX(-169.2%);

  }
}


@media (max-width: 1200px)and (min-width: 1051px)  {
  .ImgFondo{
    padding-top: 6vh;
    position: absolute;
    width: 120%;
    height: 40%;
  }
  .ImgChica{
    position: absolute;
    width: 70%;
    height: 40%;
    z-index: 3;
    top: 100%;
    left: 40%;
  }


  .ImgFrente{
    position: absolute;
    background-color: white;
    width: 120%;
    height: 40%;
    z-index:1;

  }
  #iconos{
    top:90%;
    width: 100%;
    text-align: center;
  }
  .nosotros-texto{

      padding: 3vh;
      padding-top: 8vh;
      padding-bottom: 8vh;
      font-size: 4vh;
      width: 100%;
  }
  .slideFrente{
    animation-name: slideIzquierda;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    z-index:1;
    transform: translateX(-169.2%);

  }
}
@media (min-width: 1435px)and(max-width: 1445px)and (min-height: 899)and (max-height:905)  {
  .ImgFondo{
    position: absolute;
    width: 150%;
    height: 180%;
  }
  .ImgChica{
    position: absolute;
    width: 120%;
    height: 126%;
    z-index: 3;
    top: 32%;
    left: 35%;
  }


  .ImgFrente{
    position: absolute;
    background-color: white;
    width: 150%;
    height: 180%;
    z-index:1;
    left:300%;
  }
  #iconos{
    top:120%;
    width: 100%;
    text-align: center;
  }
  .nosotros-texto{

      padding: 3vh;
      padding-top: 8vh;
      padding-bottom: 8vh;
      font-size: 4vh;
      width: 100%;
  }
  .slideFrente{
    animation-name: slideIzquierda;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    z-index:1;
    transform: translateX(-169.2%);

  }
}
@media (max-width: 1350px)and (min-width: 1201px)  {
  .ImgFondo{
    position: absolute;
    width: 150%;
    height: 180%;
  }
  .ImgChica{
    position: absolute;
    width: 100%;
    height: 160%;
    z-index: 3;
    top: 23%;
    left: 35%;
  }


  .ImgFrente{
    position: absolute;
    background-color: white;
    width: 150%;
    height: 180%;
    z-index:1;
    left:300%;
  }
  #iconos{
    top:120%;
    width: 100%;
    text-align: center;
  }
  .nosotros-texto{

      padding: 3vh;
      padding-top: 8vh;
      padding-bottom: 8vh;
      font-size: 4vh;
      width: 100%;
  }
  .slideFrente{
    animation-name: slideIzquierda;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    z-index:1;
    transform: translateX(-169.2%);

  }
}
