#cards-acerca-de{
  padding-top: 5vh;
}
#grid-card{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}
.encabezado{
  margin-left: -290%;

}
.encabezado2{
  margin-left: -290%;

}

.fadeEncabezado2{
  position: absolute;
  margin-left: auto;
  padding-left: 80vh;
  margin-top: 56vh;
  margin-right: auto;
  color:#776C10;
  background-color: rgba(255, 255, 255, .6);
  font-size: 3vh;
  font-family: 'Playfair Display', serif;
  animation-name: fadeEncabezado2-Izq;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-duration: 3s;

}

.fadeEncabezado{
  position: absolute;
  margin-left: auto;
  padding: 6vh;
  margin-right: auto;
  margin-top: 39vh;
  color:#1D1D1D;
  font-size: 8vh;
  font-family: 'Playfair Display', serif;
  animation-name: fadeEncabezado-Izq;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-duration: 3s;
}

@keyframes fadeEncabezado-Izq {
  0%{
    transform: translateX(-200%);
  }
  60%{
    transform: translateX(0%);
  }
}

@keyframes fadeEncabezado2-Izq {
  0%{
    transform: translateX(-200%);

  }
  30%{
    transform: translateX(-200%);
  }
  80%{
    transform: translateX(0%);
  }
}


  #nosotros-texto{
    font-family: 'Playfair Display', serif;
    color:#1D1D1D;
    text-align: center;
    padding: 4vh;
    font-size: 4vh;
    justify-content: center;
    width: 90%;
    margin-bottom: auto;
    margin-top: auto;
  }
  #iconos{
    bottom:10px;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    color:#776C10;

  }


.boxDer{
  margin-top: 5vh;
  grid-column: 2 / 6;
  grid-row: 2/ 7;
  background-image: url("https://images.pexels.com/photos/698163/pexels-photo-698163.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover;
 animation-duration: 3s;
}


.boxIz {
  grid-column: 1;
  grid-row: 2 / 6;
  background-image: url("https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover;
   animation-duration: 3s;

   }
.fadeIzq{
  transform: translateX(-200%);
}
.fadeDer{
  transform: translateX(200%);
}

   .bounce-Iz {
        animation-name: bounce-Iz;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    }

    .bounce-Der {
         animation-name: bounce-Der;
         animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
     }


     @keyframes bounce-Iz {
          20%, 50%,70%, 100% {
      -webkit-transform: translateX(0);
      }
      0%{
        -webkit-transform: translateX(-200%);
      }
      40% {
      -webkit-transform: translateX(-60px);
      }
      60% {
      -webkit-transform: translateX(-35px);
      }
      80%{
        -webkit-transform: translateX(-5px);
      }
   }

    @keyframes bounce-Der {
          20%, 50%,70%, 100% {
      -webkit-transform: translateX(0);
      }
      0%{
        -webkit-transform: translateX(200%);
      }
      40% {
      -webkit-transform: translateX(60px);
      }
      60% {
      -webkit-transform: translateX(35px);
      }
      80%{
        -webkit-transform: translateX(5px);
      }
    }


@media (max-width: 325px){
  .encabezado{
    font-size: 6vh;
  }
  .boxDer{
    margin-top: 5vh;
    margin-right: 0;
  }
  #grid-card{
    width: 100%
  }

  .fadeEncabezado{
    padding: 1vh;
    margin-top: 33vh;
    font-size: 6vh;
  }
  .fadeEncabezado2{
    padding-left: 4vh;
    margin-top: 60vh;
    margin-right: auto;
    color:#776C10;
    background-color: rgba(255, 255, 255, .6);
    font-size: 2.5vh;
    font-family: 'Playfair Display', serif;
    animation-name: fadeEncabezado2-Izq;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 3s;

  }
}
@media (min-width: 326px)and (max-width: 354px) {
      .encabezado{
        font-size: 6vh;
      }
      .boxDer{
        margin-top: 5vh;
        margin-right: 0;
      }
      #grid-card{
        width: 100%
      }

      .fadeEncabezado{
        padding: 4vh;
        margin-top: 31vh;
        font-size: 6vh;
      }
      .fadeEncabezado2{

        padding-left: 7vh;
        margin-top: 66vh;
        margin-right: auto;
        color:#776C10;
        background-color: rgba(255, 255, 255, .6);
        font-size: 2.5vh;
        font-family: 'Playfair Display', serif;
        animation-name: fadeEncabezado2-Izq;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        animation-duration: 3s;

      }
    }

@media (min-width: 355px)and (max-width: 411px) {
          .encabezado{
            font-size: 6vh;
          }
          .boxDer{
            margin-top: 5vh;
            margin-right: 0;
          }
          #grid-card{
            width: 100%
          }

          .fadeEncabezado{
            padding: 4vh;
            margin-top: 31vh;
            font-size: 6vh;
          }
          .fadeEncabezado2{

            padding-left: 10vh;
            margin-top: 60vh;
            margin-right: auto;
            color:#776C10;
            background-color: rgba(255, 255, 255, .6);
            font-size: 2.5vh;
            font-family: 'Playfair Display', serif;
            animation-name: fadeEncabezado2-Izq;
            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
            animation-duration: 3s;

          }
        }
@media (min-width: 412px)and (max-width: 600px) {
      .encabezado{
        font-size: 6vh;
      }
      .boxDer{
        margin-top: 5vh;
        margin-right: 0;
      }
      #grid-card{
        width: 100%
      }

      .fadeEncabezado{
        padding: 4vh;
        margin-top: 31vh;
        font-size: 6vh;
      }
      .fadeEncabezado2{

        padding-left: 12vh;
        margin-top: 52vh;
        margin-right: auto;
        color:#776C10;
        background-color: rgba(255, 255, 255, .6);
        font-size: 3vh;
        font-family: 'Playfair Display', serif;
        animation-name: fadeEncabezado2-Izq;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        animation-duration: 3s;

      }
    }

@media (min-width: 601px)and (max-width: 862px) {
        .encabezado{
          font-size: 7vh;
        }
        .boxDer{
          margin-top: 5vh;
          margin-right: 0;
        }
        #grid-card{
          width: 85%
        }

        .fadeEncabezado{
          padding: 5vh;
          margin-top: 31vh;
          font-size: 7vh;
        }
        .fadeEncabezado2{
            padding-left: 25vh;
            margin-top: 53vh;
            margin-right: auto;
            color:#776C10;
            background-color: rgba(255, 255, 255, .6);
            font-size: 3.5vh;
            font-family: 'Playfair Display', serif;
            animation-name: fadeEncabezado2-Izq;
            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
            animation-duration: 3s;

          }
        }
@media (min-width: 860px)and (max-width: 917px) {
                .encabezado{
                  font-size: 7vh;
                }
                .boxDer{
                  margin-top: 5vh;
                  margin-right: 0;
                }
                #grid-card{
                  width: 78%
                }

                .fadeEncabezado{
                  padding: 5vh;
                  margin-top: 31vh;
                  font-size: 7vh;
                }
                .fadeEncabezado2{
                    padding-left: 30vh;
                    margin-top: 53vh;
                    margin-right: auto;
                    color:#776C10;
                    background-color: rgba(255, 255, 255, .6);
                    font-size: 3.5vh;
                    font-family: 'Playfair Display', serif;
                    animation-name: fadeEncabezado2-Izq;
                    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                    animation-duration: 3s;
          }
      }
@media (min-width: 918px)and (max-width: 1110px) {
                    .encabezado{
                      font-size: 7vh;
                    }
                    .boxDer{
                      margin-top: 5vh;
                      margin-right: 0;
                    }
                    #grid-card{
                      width: 78%
                    }
                    .fadeEncabezado{
                      padding: 5vh;
                      margin-top: 31vh;
                      font-size: 7vh;
                    }
                    .fadeEncabezado2{
                        padding-left: 60vh;
                        margin-top: 47vh;
                        margin-right: auto;
                        color:#776C10;
                        background-color: rgba(255, 255, 255, .6);
                        font-size: 3.1vh;
                        font-family: 'Playfair Display', serif;
                        animation-name: fadeEncabezado2-Izq;
                        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
                        animation-duration: 3s;
            }
        }
