
#videoBG{
    position:absolute;
    min-height:10vh;
    z-index: -1;
    filter:brightness(0.6);
    transition: 1s opacity;
    margin-left:8vh;
    margin-right: 8vh;
}


#logoPrincipal{
  filter:opacity(80%);
  width: 20%;
  display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;

}

#menu{
  width: 15vh;
  height: 30vh;
  position: fixed;
  background-color: #FBFBF2;
  margin-top: 18%;
  margin-bottom: auto;
  animation: MenuslideCloset .6s ease-in-out 0s;
  z-index: 100;
}


#menuActive {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  background-color: #1D1D1D;
  animation: MenuslideOpen .6s ease-in-out 0s;

}


@keyframes MenuslideOpen {
  0%{
    width:10%;
    height:30vh;
    margin-top: 18%;
    margin-bottom: auto;
    background-color: #FBFBF2;

  },
  25%{
    width:25%;
    height:30vh;
    margin-top: 18%;
    margin-bottom: auto;
    background-color: #FBFBF2;

  },
  50%{
    width:50%;
    height:30vh;
    margin-top: 18%;
    margin-bottom: auto;
    background-color: #FBFBF2;

  }
  75%{
    width: 100%;
    height:30vh;
    margin-top: 18%;
    margin-bottom: auto;
    background-color: #FBFBF2;

  }
  90%{
    width: 100%;
    height:50%;
    background-color: #FBFBF2;;
  }
  100%{
    width: 100%;
    height:100%;
    background-color: #FBFBF2;
  }

}


@keyframes MenuslideCloset {
  0%{
    width: 100%;
    height:100%;
    transform: translateY(-50%);
    background-color: #FBFBF2;
  }
  25%{
    width: 100%;
    height:100%;
    background-color: #FBFBF2;
  }
  50%{
    width: 100%;
    height:30vh;
    margin-bottom: auto;
    background-color: #FBFBF2;

  }
  75%{
    width:100%;
    height:30vh;
    margin-bottom: auto;
    background-color: #FBFBF2;

  }
  90%{
    width:100%;
    height:30vh;
    margin-bottom: auto;
    background-color: #FBFBF2;
  }

  100%{
    width:10%;
    height:30vh;
    margin-bottom: auto;
    background-color: #FBFBF2;
  }
}


#imgMenu{
  width: 50%;
  position:relative;
  margin-top:4vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation: ImglideCloset .6s ease-in-out 0s;
}


@keyframes ImglideCloset {
  0%{
  opacity: .0;
  }
  90%{
    opacity: .0;
  }
  100%{
  opacity: 1;
  }

}

#imgMenuActive{
  display:none;
}


#MenuButton{
  width: 50%;
  position:relative;
  margin-top:4vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size:40px;
}

#MenuButtonActive{
  position:relative;
  margin-top:4vh;
  margin-left: 10px;
  display: block;
  font-size:40px;
  transform-origin: 19px 19px;
  transform: rotate(45deg);
  transition: transform .8s ease-in-out;
  color: #CAC8C8;
}

#MenuButtonActive:hover{
  -webkit-transform: rotate(270deg);


}


#ContentMenu{
  display: none;
  margin-left: -200%;

}

#ContentMenuActive{
  display:grid;
  width: 80%;
  text-align: center;
  margin-top: 10%;
  margin-left: -10%;
  animation: ContentActiveSlide 1.4s ease-in-out 0s;

}

#ContentMenuActive a{
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 230%;
  font-weight: 400;
  padding: 2% ;
  margin-left: 10%;
  width: 40%;
  color: #CAC8C8;
}

#ContentMenuActive a:hover{
  background: #292828;
}

#Datos {
  display: grid;
  opacity: 0;
   grid-gap: 20%;
   grid-row-gap: 5%;
       grid-template-columns: 40% 40% ;
  position: absolute;
  left: 50%;
  top: 5%;
  font-size: 2.5vh;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  color: #CAC8C8;
}

#DatosActive{
  display: grid;
  font-family: 'Playfair Display', serif;
  color: #CAC8C8;
   grid-gap: 20%;
   grid-row-gap: 5%;
       grid-template-columns: 40% 40% ;
  position: absolute;
  left: 50%;
  top: 5%;
  opacity: 1;
  font-size: 2.5vh;
  font-weight: 400;
  animation: ContentActiveSlide 1.4s ease-in-out 0s;
}


.box {
       border-radius: 5px;
       padding: 20px;
       font-size: 150%;
        color:  #CAC8C8;
   }
 .box p {
        font-size: 90%;
    }

   .Ubicacion {
        grid-area: 1 / 1 / 2 / 2;
        font-family: 'Playfair Display', serif;

    }
  .Cotizaciones {
        grid-area: 1 / 2 / 2 / 3;
        font-family: 'Playfair Display', serif;

    }
    .Redes {
        grid-area: 2 / 1 / 3 / 2;
        font-family: 'Playfair Display', serif;

    }
    .Equipo {
        grid-area: 2 / 2 / 3 / 3;
        font-family: 'Playfair Display', serif;

    }


@keyframes ContentActiveSlide {
  0%{
  transform: translatex(-200%);
  opacity: 0;
}
  50%{
  transform: translatex(-50%);
  opacity: 0;
}
  100%{
    transform: translateX(0);
  opacity: 1;
  }

}




@media (min-aspect-ratio: 16/9) {
    #videoBG {
      width:93%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG {
      width:auto;
        height: 93%;
    }
}
@media (max-width: 767px) {
    #videoBG {
      display: none
    }
    body {
        background-size: cover;
    }
}




/*Mouse scroll animation*/

.scroll-downs {
  position: absolute;
  top: 120%;
  bottom: 0;
  left: 49%;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
